@import "tailwindcss";

@theme {
  --color-primary: #0B1220;
  --color-secondary: #094886;
  --color-accent: #22C7D6;
  --color-highlight: #B7F34A;
  --color-neutral-light: #F5F7FA;
  --color-neutral-white: #FFFFFF;

  --font-spartan: "League Spartan", sans-serif;
  --font-inter: "Inter", sans-serif;
}


@layer base {
  body {
    background-color: var(--color-neutral-light);
    color: var(--color-primary);
    font-family: var(--font-inter);
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-spartan);
  }
}